<link rel="stylesheet" href="style.css">
<h1>wided bouali</h1>
 <ul> <h3 id ="x">Expériences professionnelles et stages</h3>
    <li>octobre2018-janvier2019:agente publinet </li>
   <li>fevrier2017-juillet2017:agente administrative ("service plus")</li>
   <li>janvier 2018 :stage de perfectionnement ("tunisie telecom")</li>
   <li>fevrier 2017-mai 2017 :proget de fin d'etude("banque centrale de tunisie")</li>
   <li>fevrier 2016 :stage de perfectionnement ("Transtu")</li>
  </ul>
   <ul> <h3 id="x">formation</h3>
     <li>2018/2019 : licence en technologie informatique spécialite réseaux et service informatique </li>
     <li>2018/2018: formation en maintenance des ordinateurs de bureau et installation des réseaux informatique </li>
     <li> 2014 :baccalauréat science informatique</li>
  </ul>
  <ul> <h3 id="x">Compétences</h3>
    <li>language de programmation:java,html,css,javascript,turbo pascal </li>
    <li>systéme d'exploitation :wind,ubuntu,centos</li>
    <li>suite office : word,excel,powerpoint,visio</li>
    <li>formatage des ordinateurs </li>
  </ul>
  <ul> <h3 id="x">langues</h3>
    <li>arabe</li>
    <li>francais</li>
    <li>anglais</li>
  </ul>
  <ul> <h3 id="x">centre d'intéret</h3>
    <li>lecture,musique..</li>
  </ul>
  
